*.html
*.pdf
*.redxml
*.swp
*.upload
*~
.tags
/*-[0-9][0-9].xml
/.*.mk
/.gems/
/.refcache
/.venv/
/.vscode/
.project
.pydevproject
/lib
/node_modules/
/versioned/
Gemfile.lock
archive.json
draft-ounsworth-rats-key-attestation.xml
package-lock.json
report.xml
!requirements.txt
draft-ounsworth-rats-key-attestation.txt
draft-ounsworth-rats-pkix-key-attestation.txt
Gemfile
